:root {
  --color-primary: #137342;

  --color-overworld: #3C8527;
  --color-nether: #6D110F;
  --color-end: #A14BC1;
}

.overworld { --color-accent: var(--color-overworld); }
.nether    { --color-accent: var(--color-nether); }
.end       { --color-accent: var(--color-end); }
