jej-map {
  display: block;
  position: relative;
  width: 100dvw;
  height: 100dvh;
  cursor: move;
  background-color: #111;
  image-rendering: pixelated;
  overflow: hidden;
  user-select: none;

  .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .canvas { pointer-events: none; }

  .hud {
    output {
      padding: .25em;
      background-color: beige;
      opacity: .875;
    }
  }
}

jej-map:not(.dragging) {
  cursor: auto;
  transition: .2s scale ease,
              .2s translate ease;
}
