jej-pin {
  position: absolute;
  translate: var(--x) var(--y);
  transition: .2s ease scale,
              .2s ease opacity;

  &.hidden {
    scale: .5;
    opacity: 0;
  }

  &:not(.detailed) label {
    translate: -50% -50% !important;
    scale: .5;
    opacity: 0;
  }

  label {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    translate: -50% -50%;
    width: max-content;
    max-width: 16ch;
    text-wrap: balance;
    color: beige;
    line-height: 1;
    text-shadow: 0px -2px 0    rgba(0,0,0,.5),
                 0px  2px 0    rgba(0,0,0,.5),
                -2px  0px 0    rgba(0,0,0,.5),
                -2px -2px 0    rgba(0,0,0,.5),
                -2px  2px 0    rgba(0,0,0,.5),
                 2px  0px 0    rgba(0,0,0,.5),
                 2px -2px 0    rgba(0,0,0,.5),
                 2px  2px 0    rgba(0,0,0,.5),
                 0    0   4px  rgba(0,0,0,.375),
                 0    0   8px  rgba(0,0,0,.5),
                 0    0   16px rgba(0,0,0,.75);
    transition: .2s ease all;
  }

  .marker+label     { translate: -50% .5em; }
  .marker+label.top { translate: -50% calc(-100% - 0.5em); }
  .marker+label.left  { translate: calc(-100% - 1ch) -50%; text-align: right; }
  .marker+label.right { translate: 1ch -50%; text-align: left; }
  .marker+label.se { translate: -1ch .5em; text-align: left; }
  .marker+label.sw { translate: calc(-100% + 1ch) .5em; text-align: right; }

  &.topo {}

  &.odo {}

  &.hydro {
    label {
      color: lightblue;
      text-transform: uppercase;
      letter-spacing: .1em;
    }
  }

  .card { display: none; }
}

.marker {
  --sprite-x: 0;
  --sprite-y: 0;

  position: absolute;
  height: 16px; // Safari can't deal with half pixel size sprites. grrr :/
  width:  16px;
  background-image: url(../graphics/map_icons.webp);
  background-size: 1600%;
  background-position-x: calc(-100% * var(--sprite-x));
  background-position-y: calc(-100% * var(--sprite-y));
  translate: -50% -50%;

  // &.point-big   { --sprite-x: 0; }
  &.point-small    { --sprite-x: 1; }
  &.pointer,
  &.pointer-white   { --sprite-x: 2; }
  &.pointer-green   { --sprite-x: 3; }
  &.pointer-red     { --sprite-x: 4; }
  &.pointer-blue    { --sprite-x: 5; }
  &.pointer-pink    { --sprite-x: 6; }
  &.pointer-orange  { --sprite-x: 7; }
  &.pointer-yellow  { --sprite-x: 8; }
  &.pointer-cyan    { --sprite-x: 9; }
  &.triangle-red   { --sprite-x: 10; }
  &.triangle,
  &.triangle-green { --sprite-x: 11; }
  &.x-white        { --sprite-x: 12; }
  &.x,
  &.x-red          { --sprite-x: 13; }
  &.x-red-be       { --sprite-x: 14; }
  &.sign           { --sprite-x: 15; }

  &.banner,
  &.banner-white      { --sprite-x: 0;  --sprite-y: 1; }
  &.banner-orange     { --sprite-x: 1;  --sprite-y: 1; }
  &.banner-magenta    { --sprite-x: 2;  --sprite-y: 1; }
  &.banner-light-blue { --sprite-x: 3;  --sprite-y: 1; }
  &.banner-yellow     { --sprite-x: 4;  --sprite-y: 1; }
  &.banner-green      { --sprite-x: 5;  --sprite-y: 1; }
  &.banner-pink       { --sprite-x: 6;  --sprite-y: 1; }
  &.banner-grey       { --sprite-x: 7;  --sprite-y: 1; }
  &.banner-light-grey { --sprite-x: 8;  --sprite-y: 1; }
  &.banner-cyan       { --sprite-x: 9;  --sprite-y: 1; }
  &.banner-purple     { --sprite-x: 10; --sprite-y: 1; }
  &.banner-blue       { --sprite-x: 11; --sprite-y: 1; }
  &.banner-brown      { --sprite-x: 12; --sprite-y: 1; }
  &.banner-green      { --sprite-x: 13; --sprite-y: 1; }
  &.banner-red        { --sprite-x: 14; --sprite-y: 1; }
  &.banner-black      { --sprite-x: 15; --sprite-y: 1; }

  &.trial-chamber    { --sprite-x: 0; --sprite-y: 2; }
  &.monument,
  &.ocean-monument   { --sprite-x: 1; --sprite-y: 2; }
  &.temple,
  &.jungle-temple    { --sprite-x: 2; --sprite-y: 2; }
  &.hut,
  &.swamp-hut        { --sprite-x: 3; --sprite-y: 2; }
  &.mansion,
  &.woodland-mansion { --sprite-x: 4; --sprite-y: 2; }

  &.village,
  &.village-plains  { --sprite-x: 0; --sprite-y: 3; }
  &.village-savanna { --sprite-x: 1; --sprite-y: 3; }
  &.village-desert  { --sprite-x: 2; --sprite-y: 3; }
  &.village-taiga   { --sprite-x: 3; --sprite-y: 3; }
  &.village-snowy   { --sprite-x: 4; --sprite-y: 3; }
}
